# Ignore all
*

# Unignore Makefile
!Makefile

# Unignore all dirs
!*/

# Unignore all with extensions
!*.*

# Object files
*.o
*.obj

# libraries
*.lib
*.a

# Executables
*.exe
*.out

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# VScode
*.vscode

# DS_Store
**/.DS_Store

# Ignore `bin` dir
bin/
*/bin/*
